body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0077cc;
}

a {
  text-decoration: none;
  color: #0077cc;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}
