body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}
/*sรณ tira a bolinha que ficava na esquerda*/
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
li {
  margin: 5px 0;
}